@import'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

p,
h1,
li,
ul {
    color: #dedede;
}

html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    font-family: sans-serif;
    background: #36393E;
}